
.home-slider-img-cntlr{
	height: 500px;
	position: relative;
}
.home-slider-img{
	width: 100%;
	height: 100%;
}

.homeSlider .home-slider-item{
	display: none;
}

.homeSlider .home-slider-item:first-child{
	display: block;
}

.homeSlider.slick-initialized .home-slider-item{
	display: block;
}

/*@media(max-width: 991px){
	.home-slider-img-cntlr{
		height: 450px!important;
	}
}
@media(max-width: 767px){
	.home-slider-img-cntlr{
		height: 400px!important;
	}
}
@media(max-width: 479px){
	.home-slider-img-cntlr{
		height: 350px!important;
	}
}*/