.slick-slider ul.slick-dots{
	position: static;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: auto!important;
	height: auto!important;
	position: static;
	margin: 0 8px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active,
.slick-slider .slick-dots li:hover{
	background: #F3BA4B!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 16px;
	height: 16px;
	border-radius: 100% 100%!important;
	background: #E1E1E1!important;
}

.slick-dots li:only-child{ 
	display: none; 
}


.sitemap-section{
	padding: 55px 0;
}
.sitemap ol{
	font-weight: 500;
}
.sitemap ol li{
	padding-left: 5px;
	padding-bottom: 10px;
	font-size: 20px;
}
.sitemap ol li a {
	display: inline-block;
	transition: .5s;
    text-decoration: none;
}
.sitemap ol li a:hover{
    color: #a6a6a6;
}
.sitemap ol li a:focus{
    text-decoration: underline;
}

/*arrows*/
.slick-prev{
    left: -20px;
}
.slick-prev:hover,
.slick-next:hover{
    background: #f5808c!important;
}
.slick-next{
    right: -20px;
}
.slick-prev,
.slick-next{
	width: 48px;
    height: 48px;
    background: #000!important;
    z-index: 99;
}
.slick-prev:before,
.slick-next:before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
    content: '';
    width: 28px;
    height: 28px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1!important;
    transition: .5s;
    -ms-transition: .5s;
    -webkit-transition: .5s;

}
.slick-prev:before{
	background-image: url('../images/prev-arrow.png');
}
.slick-next:before{
   background-image: url('../images/next-arrow.png');
}
.sec-entry-hdr-title,
.page-entry-hdr-title{
	text-transform: capitalize;
}